<h1><%= country.name %></h1>
<p><b>Population:</b> <%= country.population %></p>
<p><b>Median Age:</b> <%= country.median_age %></p>
<p><b>Life Expectancy:</b> <%= country.life_expectancy %></p>
<p><b>GDP:</b> <%= country.gross_domestic_product %></p>
<p><b>Mandatory Military service:</b> <%= country.mandatory_military_service %></p>